*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#f4f4f4;
    font-size: 17px;
    background-image:url(img/footer.png);
}
.contenedor{
    width: 80%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
   
}
.contenedor-textos-formulario{
    margin-top: 150px;
    margin-bottom: 20px;
}
.contenedor-textos-formulario .titulo-contacto{
    color:#fff;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}
.contenedor-textos-formulario .linea{
width: 50%;
padding: 1px;
background: linear-gradient(90deg, #EE15C9,#4CF208 );
margin:auto;
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form .input-nombre, .input-correo, .input-telefono, .textarea{
height: 50px;
background: none;
border:0px;
border:1px solid #999999;
padding: 5px;
font-size: 17px;
margin-bottom: 5px;
border-radius: 5px;
}
.textarea{
height: 200px;
max-height: 200px;
min-height: 200px;
}
input[type="submit"]{
height: 35px;
background: linear-gradient(90deg, #EE15C9,#4CF208 );
color:#fff;
font-size: 18px;
cursor: pointer;
border:0px;
}
input[type="submit"]:hover{
    background: linear-gradient(90deg, #4CF208, #EE15C9 );
}